* {
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(to bottom, #FF9218 , #FF8700 , #F58100);
    text-align: center;
    padding-top: 40px;
    margin: auto;
    height: 100px;
    
}

header>h1 {
    
    color: white;
    font-size: 4em;
    margin-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.171);
    padding-bottom: 75px;
}


main{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 900px;
    background-color: white;
    margin-bottom: 150px;
    border-radius: 0px 0px 25px 25px;
}

main>h2{
    text-align: center;
    font-size: 2.5em;
    padding-top: 25px;
    padding-bottom: 15px;
}

figure{
    text-align: center;
}

main>h3{
    padding-top: 30px;
    padding-left: 10px;
    font-size: 1.5em;
}

main>h4{
    padding-top: 30px;
    padding-left: 15px;
    font-size: 1.2em;
}

.icon{
    padding-left: 10px;
}

.icon, h3{
    display: inline-block;
}


ul>li{
    padding-bottom: 10px;
}

ol>li{
    padding-bottom: 15px;
    padding-right: 15px;
}

main>ul,ol{
    padding-top: 20px;
    padding-left: 50px;
}

main>ol{
    list-style-type: upper-roman;
    padding-bottom: 30px;
}


body{
    background-color: #f8d1a5;
}